h1 {
  text-align: center;
}
#player1-secondary-card {
  position: absolute;
  left: 310px;
}
#player1-main-card {
  position: absolute;
  left: 480px;
}
#player2-main-card {
  position: absolute;
  left: 650px;
}
#player2-secondary-card {
  position: absolute;
  left: 820px;
}
#next-turn {
  position: absolute;
  left: 560px;
  top: 310px;
}
#new-game {
  position: absolute;
  left: 650px;
  top: 310px;
}
@media(max-width: 200px) {
  #player1-down-card {
    position: absolute;
    left: 200px;
  }
  #player2-down-card {
    position: absolute;
    left: 370px;
  }
}
