h1,
h3 {
  text-align: center;
}

.card {
  border: 2px solid black;
  height: 328px;
  position: absolute;
  top: 160px;
  width: 215px;
}

#player1-secondary-card {
  left: 200px;
}

#player1-secondary-card:hover {
  border: 4px solid red;
}

#player1-main-card {
  left: 420px;
}

#player1-main-card:hover {
  border: 4px solid red;
}

#player2-main-card {
  left: 640px;
}

#player2-main-card:hover {
  border: 4px solid red;
}

#player2-secondary-card {
  left: 860px;
}

#player2-secondary-card:hover {
  border: 4px solid red;
}

button {
  position: absolute;
  top: 500px;
  width: 100px;
  height: 40px;
}

#next-turn {
  left: 530px;
}

#new-game {
  left: 640px;
}
